In [24]:
import pandas as pd

In [54]:
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.types import StructType, StructField, StringType,FloatType, IntegerType

In [26]:
#starting spark sessions
spark=SparkSession.builder.getOrCreate()

In [45]:
#importingg data
df=spark.read.option("header",True).option("inferSchema",True).csv('ipl_2022_dataset.csv')

In [63]:
df.show()

+---+-------------------+----------+------------+---------------+---------------+----------+--------------+
|_c0|             Player|Base Price|        TYPE|COST IN ₹ (CR.)|Cost IN $ (000)|2021 Squad|          Team|
+---+-------------------+----------+------------+---------------+---------------+----------+--------------+
|  0|        Rashid Khan|Draft Pick|      BOWLER|           15.0|         1950.0|       SRH|Gujarat Titans|
|  1|      Hardik Pandya|Draft Pick| ALL-ROUNDER|           15.0|         1950.0|        MI|Gujarat Titans|
|  2|    Lockie Ferguson|      2 Cr|      BOWLER|           10.0|         1300.0|       KKR|Gujarat Titans|
|  3|      Rahul Tewatia|   40 Lakh| ALL-ROUNDER|            9.0|         1170.0|        RR|Gujarat Titans|
|  4|       Shubman Gill|Draft Pick|      BATTER|            8.0|         1040.0|       KKR|Gujarat Titans|
|  5|     Mohammad Shami|      2 Cr|      BOWLER|           6.25|          812.5|      PBKS|Gujarat Titans|
|  6|         Yash Dayal|   20 Lakh|      BOWLER|            3.2|          416.0|      NULL|Gujarat Titans|
|  7|       David Miller|      1 Cr|      BATTER|            3.0|          390.0|        RR|Gujarat Titans|
|  8|     R. Sai Kishore|   20 Lakh|      BOWLER|            3.0|          390.0|       CSK|Gujarat Titans|
|  9|Abhinav Sadarangani|   20 Lakh|      BATTER|            2.6|          338.0|      NULL|Gujarat Titans|
| 10|       Matthew Wade|      2 Cr|WICKETKEEPER|            2.4|          312.0|      NULL|Gujarat Titans|
| 11|     Alzarri Joseph|   75 Lakh|      BOWLER|            2.4|          312.0|      NULL|Gujarat Titans|
| 12|          Jason Roy|      2 Cr|      BATTER|            2.0|          260.0|       SRH|Gujarat Titans|
| 13|    Wriddhiman Saha|      1 Cr|WICKETKEEPER|            1.9|          247.0|       SRH|Gujarat Titans|
| 14|       Jayant Yadav|      1 Cr| ALL-ROUNDER|            1.7|          221.0|        MI|Gujarat Titans|
| 15|      Vijay Shankar|   50 Lakh| ALL-ROUNDER|            1.4|          182.0|       SRH|Gujarat Titans|
| 16|     Dominic Drakes|   75 Lakh| ALL-ROUNDER|            1.1|          143.0|       CSK|Gujarat Titans|
| 17|        Varun Aaron|   50 Lakh|      BOWLER|            0.5|           65.0|      NULL|Gujarat Titans|
| 18|    Gurkeerat Singh|   50 Lakh| ALL-ROUNDER|            0.5|           65.0|       KKR|Gujarat Titans|
| 19|         Noor Ahmad|   30 Lakh|      BOWLER|            0.3|           39.0|      NULL|Gujarat Titans|
+---+-------------------+----------+------------+---------------+---------------+----------+--------------+
only showing top 20 rows

In [47]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Base Price: string (nullable = true)
 |-- TYPE: string (nullable = true)
 |-- COST IN ₹ (CR.): double (nullable = true)
 |-- Cost IN $ (000): double (nullable = true)
 |-- 2021 Squad: string (nullable = true)
 |-- Team: string (nullable = true)

In [55]:
schema=StructType()\
.add('_c0',IntegerType(),True)\
.add('Player',StringType(),True)\
.add('Base Price',StringType(),True)\
.add('TYPE',StringType(),True)\
.add('COST IN ₹ (CR.)',FloatType(),True)\
.add('Cost IN $ (000)',FloatType(),True)\
.add('2021 Squad',StringType(),True)\
.add('Team',StringType(),True)

In [60]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Base Price: string (nullable = true)
 |-- TYPE: string (nullable = true)
 |-- COST IN ₹ (CR.): double (nullable = true)
 |-- Cost IN $ (000): double (nullable = true)
 |-- 2021 Squad: string (nullable = true)
 |-- Team: string (nullable = true)

# data  Exploreation

In [56]:
df.count()

633

In [57]:
len(df.columns)

8

In [61]:
#unique value in the base price columns
df.select('Base Price').distinct().collect()

[Row(Base Price='20 Lakh'),
 Row(Base Price='2 Cr'),
 Row(Base Price='Draft Pick'),
 Row(Base Price='40 Lakh'),
 Row(Base Price='30 Lakh'),
 Row(Base Price='1 Cr'),
 Row(Base Price='50 Lakh'),
 Row(Base Price='1.5 Cr'),
 Row(Base Price='75 Lakh'),
 Row(Base Price='Retained')]

In [62]:
#distribution of values inside column 'base price'
df.groupBy('Base Price').count().show()

+----------+-----+
|Base Price|count|
+----------+-----+
|   20 Lakh|  344|
|      2 Cr|   48|
|Draft Pick|    6|
|   40 Lakh|   16|
|   30 Lakh|    9|
|      1 Cr|   33|
|   50 Lakh|  104|
|    1.5 Cr|   20|
|   75 Lakh|   26|
|  Retained|   27|
+----------+-----+

In [67]:
#unique value for type column
df.select('TYPE').distinct().collect()

[Row(TYPE='WICKETKEEPER'),
 Row(TYPE='BOWLER'),
 Row(TYPE='ALL-ROUNDER'),
 Row(TYPE='BATTER')]

In [71]:
#distribution according to values
df.groupBy("TYPE").count().show()

+------------+-----+
|        TYPE|count|
+------------+-----+
|WICKETKEEPER|   64|
|      BOWLER|  215|
| ALL-ROUNDER|  242|
|      BATTER|  112|
+------------+-----+

# To be Analyze
1.Top 3 batsman who got paid the most?\
2.Top 5 bowlers who got paid the most?\
3.Highest paid all-rounders\
4.Average pay for Batsman, Bowler, All-Rounder, Wicket Keeper?\
5.List of Retained players with Salary?

In [73]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Base Price: string (nullable = true)
 |-- TYPE: string (nullable = true)
 |-- COST IN ₹ (CR.): double (nullable = true)
 |-- Cost IN $ (000): double (nullable = true)
 |-- 2021 Squad: string (nullable = true)
 |-- Team: string (nullable = true)

In [75]:
#renaming the columnn.
df2 = df.withColumnRenamed("Player","player")\
      .withColumnRenamed("Base Price","base_price")\
      .withColumnRenamed("Type","type") \
      .withColumnRenamed("COST IN ₹ (CR.)","cost_inr") \
      .withColumnRenamed("Cost IN $ (000)","cost_usd") \
      .withColumnRenamed("2021 Squad","2021_team") \
      .withColumnRenamed("Team","2022_team")

In [78]:
df2.show(5)

+---+---------------+----------+-----------+--------+--------+---------+--------------+
|_c0|         player|base_price|       type|cost_inr|cost_usd|2021_team|     2022_team|
+---+---------------+----------+-----------+--------+--------+---------+--------------+
|  0|    Rashid Khan|Draft Pick|     BOWLER|    15.0|  1950.0|      SRH|Gujarat Titans|
|  1|  Hardik Pandya|Draft Pick|ALL-ROUNDER|    15.0|  1950.0|       MI|Gujarat Titans|
|  2|Lockie Ferguson|      2 Cr|     BOWLER|    10.0|  1300.0|      KKR|Gujarat Titans|
|  3|  Rahul Tewatia|   40 Lakh|ALL-ROUNDER|     9.0|  1170.0|       RR|Gujarat Titans|
|  4|   Shubman Gill|Draft Pick|     BATTER|     8.0|  1040.0|      KKR|Gujarat Titans|
+---+---------------+----------+-----------+--------+--------+---------+--------------+
only showing top 5 rows

In [81]:
#droping usd column
df3=df2.drop("cost_usd")

In [114]:
df3.show(2)

+---+-------------+----------+-----------+--------+---------+--------------+
|_c0|       player|base_price|       type|cost_inr|2021_team|     2022_team|
+---+-------------+----------+-----------+--------+---------+--------------+
|  0|  Rashid Khan|Draft Pick|     BOWLER|    15.0|      SRH|Gujarat Titans|
|  1|Hardik Pandya|Draft Pick|ALL-ROUNDER|    15.0|       MI|Gujarat Titans|
+---+-------------+----------+-----------+--------+---------+--------------+
only showing top 2 rows

In [83]:
#1.Top 3 batsman who got paid the most?
df3.select('player','cost_inr').where(df3.type=='BATTER').orderBy('cost_inr', ascending=False).show(3)

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|   Rohit Sharma|    16.0|
|    Virat Kohli|    15.0|
|Kane Williamson|    14.0|
+---------------+--------+
only showing top 3 rows

In [122]:
df3.createOrReplaceTempView('ipl')

In [123]:
spark.sql("""select player,cost_inr from ipl where type = 'BATTER' order by 2 desc limit 3""").show()

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|   Rohit Sharma|    16.0|
|    Virat Kohli|    15.0|
|Kane Williamson|    14.0|
+---------------+--------+

In [100]:
#2.Top 5 bowlers who got paid the most?\
df3.select('player','cost_inr').where(df3.type=='BOWLER').orderBy('cost_inr',ascending=False).show(5)

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|    Rashid Khan|    15.0|
|  Deepak Chahar|    14.0|
| Jasprit Bumrah|    12.0|
| Shardul Thakur|   10.75|
|Lockie Ferguson|    10.0|
+---------------+--------+
only showing top 5 rows

In [130]:
spark.sql("""select player,cost_inr from ipl where type='BOWLER' order by 2 desc limit 5""").show()

+--------------+--------+
|        player|cost_inr|
+--------------+--------+
|   Rashid Khan|    15.0|
| Deepak Chahar|    14.0|
|Jasprit Bumrah|    12.0|
|Shardul Thakur|   10.75|
|    Avesh Khan|    10.0|
+--------------+--------+

In [103]:
5#3.Highest paid all-rounders\
df3.select('player','cost_inr').where(df3.type=='ALL-ROUNDER').orderBy('cost_inr',ascending=False).show(1)

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|Ravindra Jadeja|    16.0|
+---------------+--------+
only showing top 1 row

In [131]:
spark.sql("""select player, cost_inr from ipl where type = 'ALL-ROUNDER' order by 2 desc limit 1""").show()

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|Ravindra Jadeja|    16.0|
+---------------+--------+

In [112]:
#4.Average pay for Batsman, Bowler, All-Rounder, Wicket Keeper?
from pyspark.sql import functions as F

df3.groupBy('Type').agg(F.round(F.mean('cost_inr'),2).alias('average_price')).show()

+------------+-------------+
|        Type|average_price|
+------------+-------------+
|WICKETKEEPER|         5.09|
|      BOWLER|         3.07|
| ALL-ROUNDER|         3.61|
|      BATTER|         4.11|
+------------+-------------+

In [139]:
spark.sql("""select type, round(avg(cost_inr),2) avg_price from ipl group by 1 order by 2 desc  """).show()

+------------+---------+
|        type|avg_price|
+------------+---------+
|WICKETKEEPER|     5.09|
|      BATTER|     4.11|
| ALL-ROUNDER|     3.61|
|      BOWLER|     3.07|
+------------+---------+

In [117]:
5.List of Retained players with Salary?
df3.select('player','cost_inr').where(df3.base_price=='Retained').show()

Object `Salary` not found.
+-------------------+--------+
|             player|cost_inr|
+-------------------+--------+
|    Ravindra Jadeja|    16.0|
|           MS Dhoni|    12.0|
|          Moeen Ali|     8.0|
|    Ruturaj Gaikwad|     6.0|
|       Rishabh Pant|    16.0|
|         Axar Patel|     9.0|
|       Prithvi Shaw|     7.5|
|      Anrich Nortje|     6.5|
|      Andre Russell|    12.0|
|     Venkatesh Iyer|     8.0|
|Varun Chakaravarthy|     8.0|
|       Sunil Narine|     6.0|
|     Mayank Agarwal|    12.0|
|     Arshdeep Singh|     4.0|
|       Rohit Sharma|    16.0|
|     Jasprit Bumrah|    12.0|
|   Suryakumar Yadav|     8.0|
|     Kieron Pollard|     6.0|
|        Virat Kohli|    15.0|
|      Glenn Maxwell|    11.0|
+-------------------+--------+
only showing top 20 rows

In [140]:
spark.sql("""select player, cost_inr from ipl where base_price = 'Retained' """).show()

+-------------------+--------+
|             player|cost_inr|
+-------------------+--------+
|    Ravindra Jadeja|    16.0|
|           MS Dhoni|    12.0|
|          Moeen Ali|     8.0|
|    Ruturaj Gaikwad|     6.0|
|       Rishabh Pant|    16.0|
|         Axar Patel|     9.0|
|       Prithvi Shaw|     7.5|
|      Anrich Nortje|     6.5|
|      Andre Russell|    12.0|
|     Venkatesh Iyer|     8.0|
|Varun Chakaravarthy|     8.0|
|       Sunil Narine|     6.0|
|     Mayank Agarwal|    12.0|
|     Arshdeep Singh|     4.0|
|       Rohit Sharma|    16.0|
|     Jasprit Bumrah|    12.0|
|   Suryakumar Yadav|     8.0|
|     Kieron Pollard|     6.0|
|        Virat Kohli|    15.0|
|      Glenn Maxwell|    11.0|
+-------------------+--------+
only showing top 20 rows